bertopic==0.17.0
datasets==3.0.2
pyarrow>=14.0.0
evaluate==0.4.3
gensim==4.3.3
openai==1.78.0
pydantic-settings==2.7.1
rouge_score==0.1.2
sentencepiece==0.2.0
sentence-transformers>=5.0.0
spacy==3.7.2
topmost==1.0.2
transformers>=5.3.0
wandb>=0.19.0